@font-face {
    font-family: 'Sen';
    src: local('Sen Bold'), local('Sen-Bold'),
        url('Sen-Bold.woff2') format('woff2'),
        url('Sen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: local('Sen Regular'), local('Sen-Regular'),
        url('Sen-Regular.woff2') format('woff2'),
        url('Sen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: local('Sen ExtraBold'), local('Sen-ExtraBold'),
        url('Sen-ExtraBold.woff2') format('woff2'),
        url('Sen-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

