@import "/styles/mixins.scss";

.firstFold {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;

  .presentationWrapper {
    display: flex;
    flex: 0 0 auto;

    .textPage,
    .imagePage {
      flex: 0 0 auto;
      height: 100%;

      &:not(.noBorder) {
        border-right: vw(10px) solid var(--fg);
        transition: border-color var(--easing-duration)
          var(--easing-timing-function);
      }
    }

    .textPage {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 vw(150px);
      width: 100%;
      max-width: 55vw;

      &:first-child {
        max-width: 65vw;
      }

      &.giantText {
        max-width: 100vw;

        .textWrapper .text {
          font-size: vw(100px);
        }
      }

      .textWrapper {
        opacity: 0;
        transition: opacity 0.6s ease-in-out;

        &:global(.view) {
          opacity: 1;
        }

        .text {
          font-size: vw(60px);
          margin-bottom: vw(40px);
          font-weight: bold;
        }

        .subtext {
          font-size: vw(30px);
          opacity: 0.6;
        }
      }
    }

    .imagePage {
      padding: 0;
      position: relative;
      width: 35vw;
      overflow: hidden;

      .image {
        clip-path: inset(50%);
        transition: clip-path 0.6s ease-in-out;

        &:global(.view) {
          clip-path: inset(0%);
        }
      }
    }

    .transitionBlock {
      width: 50vw;
    }
  }
}
