@import "/styles/mixins.scss";

.container {
  transform: translateZ(0);
  will-change: transform;
  max-width: 100%;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;

  &.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
  }

  &.stopped {
    .wrapper .text {
      animation: none;
    }
  }

  .wrapper {
    width: 100%;
    white-space: nowrap;
    display: flex;

    .text {
      display: inline-flex;
      flex: 0 0 auto;
      will-change: transform;
      animation: marquee 15s linear infinite;
      align-items: center;
      // font-size: vw(180px);
      font-size: 20vh;
      line-height: 20vh;
      text-transform: uppercase;
      color: var(--fg);
      font-weight: 900;

      transition: color var(--easing-duration-long)
        var(--easing-timing-function);
    }
  }

  &.reverse {
    .text {
      animation: marquee-reverse 15s linear infinite;
    }
  }
}

.large {
  margin: 0.8vw 0 0.6vw 0;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
