@import "/styles/mixins.scss";

.home {
  background-color: var(--bg);
  transition: background-color var(--easing-duration)
    var(--easing-timing-function);

  .main {
    height: 100vh;
    padding-top: vw(223.5px);
    display: flex;

    .foldsWrapper {
      height: 95%;
      min-width: 100vw;
      border-top: vw(10px) solid var(--fg);
      border-bottom: vw(10px) solid var(--fg);

      transition: border-color var(--easing-duration)
        var(--easing-timing-function);

      .scrollContainer {
        height: 100%;
        display: flex;
      }
    }
  }
}
